/*NavBar*/
.navbar {
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
    height: 50px;
}
.navbar h2{
    color: #ffffff;
    font-family: Monospaced, monospace;
    font-size: 40px;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar li {
    padding-left: 1rem;
}

.navbar a {
    text-decoration: none;
    color: #dddddd;
}

/*.dropdown {
    position: relative;
    display: inline-block;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(0.3turn,
    rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));
    min-width: 160px;
    font-size: 18px;
    padding: 15px;
}

.notification {
    padding: 5px;
    margin-bottom: 5px;
    /*border: 1px solid #ddd;*/
    background-color: rgba(0, 0, 0, 0.80);

}

.dropdown:hover .dropdown-content {
    display:block;
}

.navbar ul li:first-child {
    margin-right: auto;
}

.navbar ul li:nth-child(2) a {
    display: flex;
    align-items: center;
}

.notification {
    background: rgba(0, 0, 0, 0.5);
    color: #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.notification p {
    margin: 0;
    font-weight: bold;
}

.notification-sender {
    font-style: italic;
    margin-top: 5px;
}

@keyframes swing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(-15deg); }
}

#notificationsDropdown:hover #notificationBell{
    animation: swing 0.5s ease-in-out infinite;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: row;
        padding: 1rem 1rem;
    }
    .navbar ul {
        flex-direction: row;
        padding-top: 0.5rem;
    }
    .navbar li {
        padding: 0.5rem 0;
    }
}