.tabandcontent {
    display: none;
    color: #dddddd;
    /*display: flex;*/
    flex-flow: row wrap;
    margin-top: 10px;
}

.tabandcontent::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    color: #CCCCCC;
    background-image: url("../assets/blue-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(50px);
    transform: scale(2);
}

.tabandcontent > * {
    position: relative;
    z-index: 1;
}

.tab {
    display: flex;
    flex-flow: column wrap;
    width: 20vh;
}

.tab button {
    background: rgba(255, 255, 255, 0.2);
    color: #ddd;
    padding: 10px 25px;
    border-color: #ddd;
    border-radius: 10px;
    outline: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 15px;
}

.tab button:hover {
    color: white;
    font-weight: bold;
    background: #667e93;
}

.tab button.active {
    color: white;
    font-weight: bold;
    background: #3b4854;
}

.tabcontent {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: max-content;
    border: none;
    display: none;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 800px) {
    .tab {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
    }

    .tab button {
        width: 33%;
        padding: 10px 30px;
        text-align: center;

        border-radius: 0;
        margin: 0;
    }

    .tabcontent {
        width: auto;
    }

    .tabandcontent {
        flex-direction: row;
    }
}