body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
    background: #f6f8f9;
}

.AddStudentBt {
    margin: 10px 5px 20px 5px;
    float: right;
    background-color: #73c2ba;
}

aside, main {
    display: block;
}

/*TASK*/

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

*::-webkit-scrollbar {
    display: none;
}

.board {
    width: 100%;
    height: max-content;
    overflow: scroll;
    background-position: center;
    background-size: cover;
}

/* ---- FORM ---- */
#todo-form {
    padding: 100px 100px 0;
}

#todo-form input {
    padding: 12px;
    margin-right: 12px;
    position: relative;
    width: 470px;
    border-radius: 4px;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    outline: none;
}

#todo-form button {
    padding: 12px 12px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    color: black;

    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

/* ---- BOARD ---- */
.lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;

    padding: 24px 32px;

    overflow: scroll;
    height: 100%;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;

    background: rgba(244, 244, 244, 0.15);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    padding: 12px;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;

    flex-shrink: 0;
}

.task {
    background: rgb(34, 34, 34);
    color: #dddddd;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

    padding: 12px;
    border-radius: 4px;

    font-size: 16px;
    cursor: move;
}

.is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: rgba(255, 255, 255, 0.5);
}


/* MESSAGES SECTION */
#Messages {
    display: none; /* Initially hidden like other tabcontent, shown when activated */
    /*flex-direction: row;*/
    color: #dddddd;
    padding: 20px;
    margin: 20px;
    /*overflow: hidden; !* Ensures no overflow *!*/
}

#Messages .row-h-100 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
    padding: 24px 32px;
    overflow: scroll;
    height: 100%;
}

#Messages .col-4, .col-8 {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}

#Messages .col-4 {
    width: 25%;
}

#Messages .col-8 {
    width: 65%;
}

#Messages .chatroom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#Messages .list-group {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#Messages .list-group-item {
    background: rgb(34, 34, 34);
    color: #dddddd;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;

    font-size: 16px;
    cursor: move;
}

#Messages .list-group-item:hover, #Messages .list-group-item.active {
    background: #667e93;
    color: #ffffff;
    cursor: pointer;
}

#Messages .chat-details {
    padding: 15px;
    background: rgba(0, 0, 0, 0.4); /* Darker background for chat details */
    margin-bottom: 10px; /* Space below the header */
    border-bottom: 1px solid #444; /* Subtle border */
}

#Messages .chat-messages {
    height: 300px;
    overflow-y: auto; /* Scrollable area */
    background: rgba(0, 0, 0, 0.3); /* Consistent with list-group */
    padding: 10px;
    border-radius: 5px;
}

#Messages .new-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#Messages textarea {
    /*width: 100%;*/
    height: 15px;
    background: rgba(255, 255, 255, 0.1);
    color: #ddd;
    border: 1px solid #667e93;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

#Messages .btn-link {
    background: none;
    color: #4a7193;
}

#Messages .btn-link:hover {
    background: none;
    color: #667e93;
}

#Messages .btn-link.active {
    background: none;
    color: #3b4854;
}

/* Additional media queries and responsive adjustments as needed */
@media (max-width: 768px) {
    #Messages .row {
        flex-direction: column;
    }
}


/* LOG IN PAGE */
/* SING UP PAGE */
.login-page {
    display: flex;
}
.signup-page {
    display: none;
}
/* Base styles for login and signup pages */
.login-page, .signup-page {
    align-items: center;
    justify-content: center;
    color: #dddddd;
    height: 100vh;
    width: 100%;
    margin: 0;
}

/* Background settings for both pages */
.login-page::before, .signup-page::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("../assets/blue-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(50px);
    transform: scale(2);
}

/* Styling for the form containers */
.login-page .row, .signup-page .row {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Input field styling */
.login-page input,
.signup-page input[type="text"],
.signup-page input[type="email"],
.signup-page input[type="password"] {
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
    color: #ddd;
    padding: 10px 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.login-page input:focus,
.signup-page input:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* Form alignment */
.login-page #loginForm,
.signup-page #signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page .button,
.signup-page .button {
    background: rgba(255, 255, 255, 0.2);
    color: #ddd;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    text-align: center;
}

.login-page .button:hover,
.signup-page .button:hover,
.login-page .button:active,
.signup-page .button:active {
    color: white;
    background: #667e93;
    border-color: white;
    transform: scale(0.98);
}

/* Responsive design adjustments */
@media only screen and (max-width: 800px) {
    .login-page .row, .signup-page .row {
        width: 80%;
    }
}


.message-left, .message-right {
    color: black;
    background-color: #f0f0f0;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
}

.message-right {
    background-color: #9ECF82;  /* Adjusted for better visibility */
    align-self: flex-end;  /* Ensures right alignment */
}

.message-left {
    align-self: flex-start;  /* Ensures left alignment */
}

.message-header {
    font-size: 0.85em;
    margin-bottom: 5px;
    color: #666;
}

.message-time {
    font-size: 0.75em;
    color: #999;
}

.message-body {
    font-size: 1em;
}

.container-fluid .overflow-auto {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns all messages to start */
}
